{% extends 'base.html.twig' %}

{% block title %}article 12!{% endblock %}

{% block body %}
<section class="article">
       <section class="article">
        <h2> {{article.title}} </h2>
    <div class="metadata">Ecrit le {{article.createdAt| date('d/m/Y')}} à {{article.createdAt| date('H:i')}}dans la catégolie {{article.category.title}}}</div>
        <div class="content">
        <img src="{{ article.image }}" alt="">
        <p>{{ article.content | raw }}</p>
        <hr>

</div>
</article>
<section id="commentaires">
{% for comment in article.comments %}
    <div class="comment">
        <div class="row">
            <div class="col3">
                {{comment.author}} (<small>{{comment.createdAt | date('d/m/y à H:i')}}</small>)
            </div>
            <div class="col">
                {{comment.content | raw}}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
